  <div class="container">
    <div class="text-center">
    <p>アカウント登録</p>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      
        <%= f.text_field :name, class: 'form-control text-field',placeholder: "名前" %>

        <%= f.email_field :email, class: 'form-control text-field',placeholder: "Eメールアドレス" %>

        <%= f.password_field :password, class: 'form-control text-field',placeholder: "パスワード" %>

        <%= f.password_field :password_confirmation, class: 'form-control text-field',placeholder: "パスワード (確認用)" %>

      <%= f.submit "アカウント登録", class: "btn btn-lg btn-primary form-control"%>
      <% end%>
      <p class="mt-4"><%= link_to 'Googleで登録', "/auth/google_oauth2", method: :post %></p>
    </div>
  </div>

