<%= link_to '+新規作成', new_title_path, class: 'btn btn-primary my-3' %>

<table class="table table-sm mt-2">
  <% @title.each do |title|%>
    <tr>
      <td><%= link_to title.title, types_path(title_id: title.id) %></td>
      <td>
        <%= link_to '編集', edit_title_path(title.id), class: 'btn btn-primary' %>
        <%= link_to '削除', title_path(title.id), method: :delete, data:{confirm: "「#{title.title}」を削除しますか？"}, class: 'btn btn-secondary' %>
      </td>
    </tr>
  <% end %>
<table>


<div class="pagi_wrapper">
  <%= paginate @title %>
</div>
