<button id="addForm">テキスト追加</button>
<%= form_with(model: @text, local: true, id: "parent") do |f| %>
  <%= render 'shared/error_messages', model: f.object%>
    <%= f.label :sentence, "テキスト" %>
    <%= f.text_field :sentence, name:"text[sentence][]" %>

    <%= f.hidden_field :title_id %>

    <%= f.submit "保存"%>
<% end %>
<%= javascript_pack_tag 'text_add/text' %>
