<!DOCTYPE html>
<html>
  <head>
    <title>TypedApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do|message_type, message| %>
      <%= message_type %><%= message %>
    <% end %>
    <header>
      <nav>
        <ul>
          <li>
            <%= link_to "ホーム", root_path %>
          </li>
          <% if logged_in?%>
          <li>
            <%= link_to "ログアウト", logout_path, method: :delete %>
          </li>
          <% else%>
          <li>
            <%= link_to "ログイン", login_path %>
          </li>
          <% end%>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
